@*Add 'inherits' because we manually added packages - we are missing some web.config settings*@
@inherits System.Web.Mvc.WebViewPage

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Index</title>
</head>
<body>
<div>
      Hello from MVC
</div>
</body>
</html>