@using System.Web.Mvc.Html
@inherits System.Web.Mvc.WebViewPage

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
    <h1>Shh! This is secret!</h1>
    @foreach (var claim in ((System.Security.Claims.ClaimsPrincipal) User).Claims)
    {
        <div>
            @claim.Type : @claim.Value
        </div>
    }
</div>
<div><a href="@Url.Action("Logout","Auth")">Log out</a></div>
</body>
</html>